.prize-reward-container {
  & > * {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ball {
  $size: 8vh;
  $outline: #4c3fc2;
  $color1: #2facff;
  $color2: #ff8ff6;

  width: $size;
  height: $size;
  border-radius: 100%;
  background-color: $color1;
  border: solid 0.8vh $outline;
  position: absolute;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    height: 200%;
    width: 200%;
    background-color: $color2;
    border-radius: 100%;
    border: inherit;
    transform: translate(-25%, -5%);
  }
}

.wiggle {
  animation: wiggle 2s ease-in-out infinite both;
}

@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
